.home-footer {
  height: 45.5rem;
  display: flex;
  background: url(./img/footer.svg) no-repeat;
  background-size: cover;
  min-width: 120rem;
  margin-top: 2.6rem;
  .footer-box {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 2.4rem auto 0 auto;
    .footer-left {
      .footer-logo {
        margin-top: 9.5rem;
        background: url(./img/footer-logo.svg) no-repeat;
        background-size: contain;
        width: 24rem;
        height: 4.5rem;
      }
      .footer-qr {
        margin-top: 4rem;
        width: 13.5rem;

        .qr-img {
          background: url(./img/qr.svg) no-repeat;
          height: 11.5rem;
          width: 11.5rem;
          background-size: contain;
        }

        .qr-desc {
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: #cecece;
        }

        .copy-right {
          margin-top: 8.4rem;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #ececec;
          white-space: nowrap;
        }
      }
    }
    .footer-right {
      display: flex;
      gap: 12rem;
      margin-top: 18.9rem;
      .right-cell {
        flex: 1;

        &.right-cell-mb {
          display: none;
        }
        .title-width-slash {
          margin-bottom: 1.2rem;
          font-weight: bold;
          color: #fff;
        }
        .item {
          white-space: nowrap;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #cecece;
          margin-top: 0.4rem;
          margin-left: 2.3rem;
        }
        .item-title {
          line-height: 21px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home-footer {
    width: 100%;
    background-size: contain;
    height: auto;
    min-width: auto;
    margin-top: 7.5rem;
    .footer-box {
      width: 100%;
      margin-top: 7.5rem;
      background: #004ed1;
      padding: 0 2.4rem;
      flex-direction: column;
      .footer-left {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin-top: 2rem;
        .footer-logo {
          margin-top: 0;
          width: 15.9rem;
          height: 3rem;
        }
        .footer-qr {
          background-size: 7.5rem;
          width: 8.5rem;
          margin-top: 0;
          .qr-img {
            height: 7.5rem;
            width: 7.5rem;
          }
          .qr-desc {
            font-size: 0.8rem;
            line-height: 1.2rem;
            // white-space: nowrap;
            color: #cecece;
          }

          .copy-right {
            display: none;
          }
        }
      }
      .footer-right {
        width: 100%;
        margin-top: 2.8rem;
        flex-direction: column;
        gap: 0;
        .right-cell {
          &.right-cell-mb {
            display: block;
          }
          .title-width-slash {
            font-weight: normal;
            margin: 0.5rem 0;
            position: relative;

            .add {
              background: url(./img/add.svg) no-repeat;
              background-size: contain;
              right: 0;
              position: absolute;
              width: 1.8rem;
              height: 1.8rem;
              cursor: pointer;

              &.line {
                background: url(./img/line.svg) no-repeat;
                background-position: center;
                background-size: contain;
              }
            }
          }

          .closeed {
            .item {
              height: 0; 
              padding: 0 4.4rem;
            }
          }

          .opened {
            .item {
              height: 3.8rem;
            }
          }

          .item {
            transition-duration: 0.3s;
            background: #2269df;
            margin: 0 -2.4rem;
            padding: 1rem 4.4rem;
            height: 3.8rem;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #eeeeee;
            overflow: hidden;
            display: block;
          }
          .item-title {
          }
        }
        .copy-right {
          font-size: 1rem;
          line-height: 5.7rem;
          color: #eeeeee;
        }
      }
    }
  }
}
