@media screen and (min-width: 770px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &.row2 {
      flex-direction: row;
      flex-wrap: wrap;
      width: 816px;
      gap: 1.6rem;

      .inputBox {
        width: 400px;
        &.inputTxtBox {
          width: 100%;
        }
      }
    }
  }
  .error {
    border: 1px solid #cc4444 !important;
  }

  .errorReq {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fef4f5;
    border: 1px solid #ffb4ba;
    border-radius: 4px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(./img/err.svg) no-repeat;
      display: block;
      margin-right: 12px;
    }

    .close {
      background: url(./img/close.svg) no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }

  .btnBox {
    margin-top: 16px;
    width: 100%;
  }
  .inputBox {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2rem;
    gap: 2.4rem;
    // height: 4.8rem;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
    padding: 1.2rem;
    &:active,
    &:hover {
      border: 1px solid #004ed1;
    }

    .label {
      min-width: 8.2rem;
    }

    .unselect {
      color: #bbb;
      margin-left: -1px;
    }

    select,
    textarea,
    input {
      color: #333333;
      border: none;
      flex: 1;
      &:focus-visible {
        outline: none;
      }
    }

    ::-webkit-input-placeholder {
      color: #bbb;
    }
    ::-moz-placeholder {
      color: #bbb;
    }
    :-ms-input-placeholder {
      color: #bbb;
    }
  }
}
