@media screen and (max-width: 770px) {
  .full {
    margin-top: 6.6rem;
    // background: #fafbff;
    position: relative;

    .sectionTitle {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
      color: #000000;
      text-align: center;

      .titleLight {
        color: #004ed1;
      }
    }

    .sectionDesc {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #555;
      margin-top: 1rem;
      text-align: center;
      margin-bottom: 2.6rem;
    }

    .contentBoxMb {
      padding: 0 1.2rem;

      .box {
        padding: 1.6rem 1.2rem 1.2rem;
        background: #fff;
        margin-bottom: 1.2rem;
        border-radius: 0.8rem;
      }

      .brandImg {
        padding-bottom: 69.23%;
        background: url('./img/brandMb.png') no-repeat;
        background-size: contain;
      }
      .borderImg {
        padding-bottom: 69.23%;
        background: url('./img/borderMb.png') no-repeat;
        background-size: contain;
      }
      .b2bImg {
        padding-bottom: 69.23%;
        background: url('./img/b2bMb.png') no-repeat;
        background-size: contain;
      }
      .domesticImg {
        padding-bottom: 69.23%;
        background: url('./img/domesticMb.png') no-repeat;
        background-size: contain;
      }

      .brand {
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 150%;
        color: #004ed1;
        margin-bottom: 1.2rem;
        display: flex;
        align-items: center;
        margin-top: 2.6rem;
        &::before {
          content: '';
          width: 5rem;
          height: 3.5rem;
          background: url('./img/brand.svg') no-repeat;
          background-size: contain;
        }
      }
      .border {
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 150%;
        color: #004ed1;
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        margin-top: 2.4rem;
        &::before {
          content: '';
          width: 5rem;
          height: 3.5rem;
          background: url('./img/border.svg') no-repeat;
          background-size: contain;
        }
      }
      .b2b {
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 150%;
        color: #004ed1;
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        margin-top: 2.4rem;
        &::before {
          content: '';
          width: 5rem;
          height: 3.5rem;
          background: url('./img/b2b.svg') no-repeat;
          background-size: contain;
        }
      }
      .domestic {
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 150%;
        color: #004ed1;
        margin-bottom: 1.6rem;
        display: flex;
        align-items: center;
        margin-top: 2.4rem;
        &::before {
          content: '';
          width: 5rem;
          height: 3.5rem;
          background: url('./img/domestic.svg') no-repeat;
          background-size: contain;
        }
      }

      .desc {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 160%;
        color: #333333;
        list-style: inside;
      }
    }

    .contentBox {
      display: none;
    }
  }
}
