@media screen and (min-width: 770px) {
  .introduce {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .box {
      display: flex;
      gap: 46px;
      .introduce {
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 40px;
          .place {
            width: 12px;
            height: 36px;
            background: url(./img/line.svg) no-repeat;
            background-size: contain;
            color: transparent;
          }
          .icon {
            background: url(./img/company.svg) no-repeat;
            background-size: contain;
            width: 48px;
            height: 48px;
            &.icon2 {
              background: url(./img/ad.svg) no-repeat;
              background-size: contain;
            }
          }
        }

        .title {
          // font-family: Outfit;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 35px;
          color: #333333;
        }
        .desc {
          margin-top: 24px;
          // font-family: Outfit;
          font-size: 14px;
          line-height: 36px;
          color: #333333;
          margin-bottom: 40px;
        }
      }

      .img {
        min-width: 654px;
        height: 460px;
        background: url(./img/img1.png) no-repeat;
        background-size: contain;
        &.img2 {
          background: url(./img/img2.png) no-repeat;
          background-size: contain;
        }
      }
    }
  }

}
