@media screen and (max-width: 770px) {
  .landingGuide {
    margin-top: 6.6rem;
    width: 100%;
    padding: 3rem 0;
    position: relative;
    // height: 70.3rem;
    background-color: #f7faff;

    .guideWord {
      .guideTitle {
        color: #333;
        font-size: 2.8rem;
        font-weight: 600;
        padding: 0 2rem;

        .guideDesc {
          line-height: 4rem;

          .guideLight {
            color: #004ed1;
          }
        }
      }

      .guideText {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #555;
        margin-top: 1rem;
        padding: 0 2rem;
      }

      .guideList {
        margin-top: 2rem;
        font-size: 1.4rem;
        color: #222;
        padding: 0 2rem;

        .guideOne {
          line-height: 2rem;
          margin-bottom: 0.6rem;
          .itemTitle {
            font-weight: 500;
          }
          .itemDesc {
            color: #555;
          }
          .itemDescBlock {
            display: block;
            margin-left: 7.4rem;
          }
          .itemLight {
            font-weight: 500;
            color: #ff793b;
          }
        }
      }

      .guideBg {
        position: relative;
        margin: 2rem 0 3.6rem;

        .mainBg {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 70%;
          background: url(./img/mainMobile1.png) no-repeat;
          // background-repeat: no-repeat;
          background-size: contain;
          z-index: 20;
          // overflow: hidden;
        }
      }

      .btnContainer {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;

        .immediatelyBtn {
          padding: 1.5rem 5.3rem !important;
          font-weight: 500;
          font-size: 1.6rem;
          border-radius: 0.4rem;
        }
      }
    }
  }
}
