@media screen and (min-width: 770px) {
  .titleBox {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    position: relative;
    word-break: keep-all;
    &::before {
      content: '';
      background: url(./img/slash.svg) no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &.titleBox14 {
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding-left: 2rem;
      font-family: Outfit;
      font-weight: bold;
      &::before {
        width: 2rem;
      }
    }

    &.titleBox24 {
      font-size: 2.4rem;
      line-height: 3rem;
      padding-left: 2rem;
      font-weight: 700;
      &::before {
        width: 2rem;
      }
    }

    &.titleBox26 {
      font-size: 2.6rem;
      line-height: 3.3rem;
      padding-left: 2rem;

      &::before {
        width: 2rem;
      }
    }
    &.titleBox30 {
      font-size: 3rem;
      line-height: 3.8rem;
      padding-left: 2rem;

      &::before {
        width: 2rem;
      }
    }

    &.titleBox34 {
      font-size: 3.4rem;
      padding-left: 2.1rem;
      font-weight: bold;

      &::before {
        width: 2.1rem;
        //   height: 3.6rem;
      }
    }

    &.titleBox36 {
      font-size: 3.6rem;
      padding-left: 2.4rem;

      &::before {
        width: 2.4rem;
        //   height: 3.6rem;
      }
    }

    &.titleBox48 {
      font-size: 4.8rem;
      padding-left: 2.6rem;
      font-weight: 700;
      align-items: center;
      display: flex;
      &::before {
        background: url(./img/slash1.svg) no-repeat;
        background-size: contain;
        width: 2.6rem;
        height: 4.5rem;
        top: .3rem;
      }
    }
  }
}
