@media screen and (max-width: 770px) {
  .contentUs {
    margin: 7.5rem 0;
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
    .textBox {
      display: flex;
      flex-direction: column;
      flex: 1;
      .textList {
        display: flex;
        flex-direction: column;
        .mapMb {
          background: url(./img/map.png) no-repeat center;
          background-size: contain;
          width: 100%;
          padding-bottom: 67.9%;
          margin: 3.2rem 0;
        }

        .addr,
        .email,
        .tel {
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 2rem;
          padding: 1.8rem;
          color: #333333;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          margin-top: -1px;
          display: flex;
          word-break: keep-all;
          &::before {
            content: '';
            min-width: 1.8rem;
            height: 1.8rem;
            display: block;
            margin-right: 1rem;
            margin-top: 0.2rem;
          }
          span {
            word-break: break-all;
          }
        }

        .addr {
          &::before {
            background: url(./img/addr.svg) no-repeat center;
            background-size: contain;
          }
        }
        .email {
          &::before {
            background: url(./img/email.svg) no-repeat center;
            background-size: contain;
          }
        }
        .tel {
          &::before {
            background: url(./img/tel.svg) no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }
}
