@media screen and (max-width: 770px) {
  .priceBanner {
    .introBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.9rem;
        margin-top: 4.3rem;
        color: #333333;
      }
      .subTitle {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #333333;
        margin-top: 0.8rem;
      }

      .desc {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: #666666;
        margin-top: 2.4rem;
        padding: 0 2.4rem;
      }
    }
  }
}
