@media screen and (max-width: 770px) {
  .homeBg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    .topBannerBg {
      background: url(./img/top1Mb.svg) no-repeat;
      top: 0;
      left: 0;
      width: 100vw;
      height: 68rem;
      background-size: contain;
      position: relative;
      background-position: 0 -7rem;
      &::before {
        content: '';
        background: url(./img/top2Mb.svg) no-repeat;
        top: 26rem;
        right: 0;
        width: 100vw;
        height: 68rem;
        background-size: contain;
        position: absolute;
      }
      &::after {
        content: '';
        background: url(./img/top3Mb.svg) no-repeat;
        top: 58rem;
        left: 0;
        width: 17rem;
        height: 29rem;
        background-size: contain;
        position: absolute;
      }
    }

    .first {
      background: url(./img/firstMb.svg) no-repeat;
      background-size: contain;
      top: 97rem;
      width: 25rem;
      height: 35rem;
      position: absolute;
      right: 0;
    }
    .second {
      background: url(./img/secondMb.svg) no-repeat;
      background-size: contain;
      top: 166rem;
      width: 26rem;
      height: 26rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .across {
      background: url(./img/across.svg) no-repeat;
      background-size: contain;
      top: 246rem;
      width: 100%;
      height: 25rem;
      position: absolute;
      left: 0;
      z-index: 2;
    }
    .three {
      background: url(./img/threeMb.svg) no-repeat;
      background-size: contain;
      top: 253rem;
      width: 27rem;
      height: 36rem;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .four {
      background: url(./img/fourMb.svg) no-repeat;
      background-size: contain;
      top: 330rem;
      width: 27rem;
      height: 36rem;
      position: absolute;
      left: 0;
    }
    .five {
      background: url(./img/fiveMb.svg) no-repeat;
      background-size: contain;
      top: 368rem;
      width: 26rem;
      height: 26rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
