@media screen and (min-width: 770px) {
  .ecological {
    .banner {
      height: 400px;
      width: 100%;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        min-width: 1440px;
        width: 100vw;
        height: 400px;
        transform: translateX(-50%);
        background: url(./img/1.png) no-repeat center;
        background-size: cover;
      }
    }

    .titleBox {
      margin-top: 88px;
      font-family: Outfit;
      font-weight: bold;
      font-size: 48px;
      line-height: 80px;
      text-align: center;
      color: #333333;
      .titleEn {
      }
      .title {
      }
    }

    .desc {
      font-size: 16px;
      line-height: 36px;
      color: #333333;
      margin-top: 24px;
    }

    .partnerBox {
      margin-top: 120px;
      height: 658px;
      background: url(./img/2.png) no-repeat center;
      background-size: contain;
      background-position-x: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .partnerTitle {
        font-weight: 600;
        font-size: 48px;
        line-height: 67px;
        color: #333333;
      }
      .partnerDesc {
        font-size: 18px;
        line-height: 36px;
        margin-top: 24px;
        color: #666666;
      }
    }
  }
}
