.detectionBox {
  display: flex;
  justify-content: center;
  width: auto;
  position: relative;
}

.detection {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  height: 44px;
}

.input {
  max-width: 660px;
  margin-right: 12px;
  display: block;
  flex: 1;
  height: 100%;
  position: relative;
  input {
    width: 100%;
  }
  > span {
    display: none !important;
    position: absolute !important;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 22;
  }
  &:hover {
    > span {
      display: block !important;
    }
  }
}

.start {
  line-height: unset;
  display: flex;
  align-items: center;
  background-color: #004ed1;
  color: white !important;
  height: 100%;
}

.tips {
  position: absolute;
  left: 0;
  bottom: -24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #cc313d;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 98px;
  border: none;
  display: flex;
  justify-content: center;
  height: 100%;
  svg {
    animation: loading 0.8s infinite linear;
  }
}
