.detectionBox {
  display: flex;
  justify-content: center;
  width: auto;
  position: relative;
}

.detection {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  height: 44px;
}

.input {
  max-width: 660px;
  margin-right: 12px;
  display: block;
  flex: 1;
  height: 100%;
  position: relative;
  input {
    width: 100%;
  }
  > span {
    display: none !important;
    position: absolute !important;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 22;
  }
  &:hover {
    > span {
      display: block !important;
    }
  }
}

.start {
  line-height: unset;
  display: flex;
  align-items: center;
  background-color: #004ed1;
  color: white !important;
  height: 100%;
}

.tips {
  position: absolute;
  left: 0;
  bottom: -24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #cc313d;
}

@keyframes indeterminate {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  to {
    transform: translateX(100%) scaleX(0.5);
  }
}

.loadingBox {
  height: 4px;
  display: block;
  background-color: #275fc0;
  border-radius: 2px;
  overflow: hidden;
  contain: strict;
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -5px;
}

.loading {
  background-color: #80a4e2;
  width: 100%;
  height: 100%;
  animation: indeterminate 1s linear infinite;
  transform-origin: 0 50%;
}
