@media screen and (min-width: 770px) {
  .btn {
    display: inline-block;
    border-radius: 0.4rem;
    cursor: pointer;
    // font-family: Outfit;

    &.disabled {
      opacity: .7;
      pointer-events: none;
    }

    &.primary {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.3rem;
      color: #fff;
      background: #004ed1;
      padding: 1.8rem 7.4rem;
    }

    &.successForm {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #fff;
      background: #004ed1;
      padding: 1rem 6.7rem;
    }

    &.form {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #ffffff;
      background: #004ed1;
      padding: 1.6rem;
      text-align: center;
      border-radius: 0;
      width: 100%;
    }

    &.ghost {
      border: 0.1rem solid #004ed1;
      font-size: 1.2rem;
      line-height: 1.7rem;
      color: #004ed1;
      padding: 0.9rem 2.4rem;
    }
  }
}
