@media screen and (min-width: 770px) {
  .ServiceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 48px;
      line-height: 67px;
      margin-top: 140px;
      color: #333333;
    }
    .desc {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: #333333;
      margin-bottom: 36px;
    }
  }
}
