<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      ;(function (a, h, c, b, f, g) {
        a['UdeskApiObject'] = f
        a[f] =
          a[f] ||
          function () {
            ;(a[f].d = a[f].d || []).push(arguments)
          }
        g = h.createElement(c)
        g.async = 1
        g.charset = 'utf-8'
        g.src = b
        c = h.getElementsByTagName(c)[0]
        c.parentNode.insertBefore(g, c)
      })(window, document, 'script', 'https://assets-cli.s4.udesk.cn/im_client/js/udeskApi.js', 'ud')
      ud({
        code: '1b7f137j',
        link: 'https://1381583.s4.udesk.cn/im_client/?web_plugin_id=34130',
      })
    </script>
  </body>
</html>
