@media screen and (min-width: 770px) {
  .pendantContainer {
    position: fixed;
    right: 0;
    top: calc(90vh - 16rem);
    z-index: 100;

    ul {
      list-style-type: none;
      margin-right: 2.4rem;

      li {
        margin-bottom: 1.2rem;
        background-color: #004ed1;
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
        border-radius: 200px;

        .pendantItem {
          display: flex;
          align-items: center;
          padding: 10px 16px;

          .imgItem {
            width: 40px;
            height: 40px;
            background-image: url(./img/listen.svg);
            background-repeat: no-repeat;
            background-position: center;
          }

          .textItem {
            color: #ffffff;
            font-size: 1.2rem;
            margin-right: 8px;
          }
        }
      }

      li:nth-child(1) {
        .imgItem {
          background-image: url(//media.cdn.ishopastro.com/svg/sa-fe-c/aac70e033d35f5ccbeef54a812318938.svg);
        }
      }

      li:nth-child(2) {
        background-color: #FE8953;

        .imgItem {
          background-image: url(./img/write.svg);
        }
      }

      li:nth-child(3) {
        position: relative;

        .imgItem {
          background-image: url(//media.cdn.ishopastro.com/svg/sa-fe-c/430303be1b591e087af28dc391b5a890.svg);
        }

        &:hover {
          .arrow_box {
            display: block;
            transition: all 0.3s ease;
          }
        }

        .arrow_box {
          width: 12rem;
          height: 12rem;
          padding: 1.2rem;

          .imgBcg {
            height: 100%;
            width: 100%;
            background-image: url(./img/weChatOrCode.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
      }
    }
  }

  .arrow_box {
    position: absolute;
    display: none;
    width: 26rem;
    height: 5.6rem;
    background: #fff;
    border-radius: 0.8rem;
    right: calc(110% + 0.8rem);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    line-height: 5.6rem;

    .boxText {
      margin-left: 1.6rem;
      font-size: 1.8rem;
      color: #333;
    }
  }

  .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #fff;
    border-width: 0.8rem;
    margin-top: -1rem;
  }

  .sa-showcase-chat {
    display: flex;
    align-items: center;
    position: relative !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
  }

  .sa-showcase-chat [data-role=sa-chat] {
    position: static !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
  }

  .sa-showcase-chat [data-role=sa-chat-entry] {
    box-shadow: none;
  }

  .sa-showcase-chat [data-role=sa-chat-title] {
    display: block !important;
  }

  .sa-showcase-chat [data-role=sa-chat-title]::after {
    content: "在线沟通";
    display: block;
  }
}
