@media screen and (max-width: 770px) {
  .channelsForm {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    .descBox {
      margin-bottom: 4rem;
      .name {
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 3.9rem;
        margin-bottom: 1.2rem;
        color: #004ed1;
      }
      .slogan {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-top: 1.2rem;
        color: #333333;
      }
      .desc {
        font-size: 1.4rem;
        line-height: 3.2rem;
        margin-top: 2.4rem;
        color: #333333;
      }
    }

    .formBox {
      padding-top: 4rem;
      border-top: 1px solid #e5e5e5;
      .formTitle {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #333333;
      }

      .formDesc {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin-top: 1.2rem;
        color: #333333;
      }

      .form {
        margin-top: 1.2rem;
      }
    }
  }
}
