@media screen and (max-width: 770px) {
  .office {
    margin-top: 7.5rem;
    padding: 0 2.4rem;
    .imgBox {
      display: flex;

      margin-top: 3.2rem;
      flex-direction: column;

      .imgLeft {
        display: flex;
        flex-direction: column;

        .img1 {
          width: 100%;
          padding-bottom: 57.28%;
          background: url(./img/1.png);
          margin-bottom: 1.2rem;
          background-size: cover;
        }
        .img2 {
          width: 100%;
          padding-bottom: 57.28%;
          background: url(./img/2.png);
          background-size: cover;
          margin-bottom: 1.2rem;
        }
      }

      .imgRight {
        padding-bottom: 129.53%;
        background: url(./img/3.png);
        background-size: cover;
      }
    }
  }
}
