@media screen and (max-width: 770px) {
  .btn {
    display: inline-block;
    border-radius: 0.4rem;
    cursor: pointer;
    // font-family: Outfit;
    word-break: keep-all;
    &.primary {
      font-weight: 500;
      font-size: 1.4rem;
      color: #fff;
      background: #004ed1;
      padding: 1.5rem 10rem;
    }

    &.successForm {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #fff;
      background: #004ed1;
      padding: 1.2rem 4.6rem;
    }

    &.form {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: #ffffff;
      background: #004ed1;
      padding: 1.2rem;
      text-align: center;
      border-radius: 0;
    }

    &.ghost {
      background: #004ed1;
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.7rem;
      padding: 0.9rem 2.4rem;
    }
  }
}
