@media screen and (max-width: 770px) {
  .landingBg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    .first {
      top: 0;
      left: 0;
      width: 100vw;
      height: 107.5rem;
      position: relative;
      background-color: #f8faff;

      .topBannerFirstBg {
        background: url(./imgMobile/topBanner1.svg) no-repeat;
        background-size: contain;
        height: 225px;
        width: 215px;
      }
      &::before {
        content: '';
        background: url(./imgMobile/topBanner2.svg) no-repeat;
        top: 600px;
        left: 0;
        width: 126px;
        height: 228px;
        background-size: contain;
        position: absolute;
      }
      &::after {
        content: '';
        background: url(./imgMobile/topBanner3.svg) no-repeat;
        top: 380px;
        right: 0;
        width: 196px;
        height: 304px;
        background-size: contain;
        position: absolute;
      }
    }

    .second {
      width: 100%;
      height: 77rem;
      position: relative;
      display: flex;

      &::after {
        content: '';
        background: url(./imgMobile/center1.svg) no-repeat;
        bottom: 17rem;
        right: 0;
        width: 11rem;
        height: 17.6rem;
        background-size: contain;
        position: absolute;
        z-index: 1;
      }
    }

    .third {
      background-color: #f7faff;
      width: 100%;
      height: 123rem;
      position: relative;

      &::after {
        content: '';
        background: url(./imgMobile/third.svg) no-repeat;
        top: 20rem;
        left: 0;
        width: 100%;
        height: 43rem;
        background-size: contain;
        position: absolute;
        z-index: 1;
      }
    }

    .four {
      width: 100%;
      // height: 30rem;
    }

    .five {
      width: 100%;
      // height: 70.3rem;
      background-color: #f7faff;
    }
  }
}
