@media screen and (max-width: 770px) {
  .landingBg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    .topBannerBg {
      top: 0;
      left: 0;
      width: 100vw;
      height: 1030px;
      position: relative;
      background-color: #f8faff;

      .topBannerFirstBg {
        background: url(./imgMobile/topBanner1.svg) no-repeat;
        background-size: contain;
        height: 225px;
        width: 215px;
      }
      &::before {
        content: '';
        background: url(./imgMobile/topBanner2.svg) no-repeat;
        top: 600px;
        left: 0;
        width: 126px;
        height: 228px;
        background-size: contain;
        position: absolute;
      }
      &::after {
        content: '';
        background: url(./imgMobile/topBanner3.svg) no-repeat;
        top: 380px;
        right: 0;
        width: 196px;
        height: 304px;
        background-size: contain;
        position: absolute;
      }
    }

    .first {
      background: url(./img/firstMb.svg) no-repeat;
      background-size: contain;
      top: 97rem;
      width: 25rem;
      height: 35rem;
      position: absolute;
      right: 0;
    }
    .second {
      background: url(./img/secondMb.svg) no-repeat;
      background-size: contain;
      top: 166rem;
      width: 26rem;
      height: 26rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .across {
      // background: url(./img/across.svg) no-repeat;
      // background-size: contain;
      // top: 246rem;
      // width: 100%;
      // height: 25rem;
      // position: absolute;
      // left: 0;
      // z-index: 2;
    }
    .three {
      background: url(./img/threeMb.svg) no-repeat;
      background-size: contain;
      top: 253rem;
      width: 27rem;
      height: 36rem;
      position: absolute;
      left: 0;
      z-index: 1;
    }
    .four {
      background: url(./img/fourMb.svg) no-repeat;
      background-size: contain;
      top: 330rem;
      width: 27rem;
      height: 36rem;
      position: absolute;
      left: 0;
    }
    .five {
      background: url(./img/fiveMb.svg) no-repeat;
      background-size: contain;
      top: 368rem;
      width: 26rem;
      height: 26rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
