@media screen and (min-width: 770px) {
  .landingBg {
    z-index: 1;
    position: absolute;
    width: 100%;
    min-width: 144rem;
    height: 100%;
    top: 0;
    // background: url(./img/官网pc端.png);
    // filter: grayscale(100%);
    // opacity: 0.7;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    .first {
      width: 100vw;
      min-width: 144rem;
      height: 147.5rem;
      position: relative;
      background-color: #f8faff;

      .topBannerFirstBg {
        background: url(./imgPc/topBanner1.svg) no-repeat;
        background-size: contain;
        height: 46.8rem;
        width: 43rem;
      }
      &::before {
        content: '';
        background: url(./imgPc/topBanner2.svg) no-repeat;
        top: 580px;
        left: 0;
        width: 25.2rem;
        height: 43rem;
        background-size: contain;
        position: absolute;
      }
      &::after {
        content: '';
        background: url(./imgPc/topBanner3.svg) no-repeat;
        top: 580px;
        right: 0;
        width: 38.6rem;
        height: 54.2rem;
        background-size: contain;
        position: absolute;
      }
    }

    .second {
      position: relative;
      display: flex;
      width: 100%;
      height: 67rem;

      &::after {
        content: '';
        background: url(./imgPc/center1.svg) no-repeat;
        top: 12rem;
        right: 0;
        width: 21rem;
        height: 27rem;
        background-size: contain;
        position: absolute;
        z-index: 1;
      }
    }

    .third {
      position: relative;
      width: 100%;
      height: 103.6rem;
      background: url(./imgPc/third.svg) no-repeat;
      background-size: cover;
    }

    .four {
      width: 100%;
      height: 44.6rem;
    }

    .five {
      width: 100%;
      height: 60.8rem;
      background-color: #f7faff;
    }
  }
}
