@media screen and (max-width: 770px) {
  .bannerBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    .mainTitle {
      font-family: Outfit;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 3.8rem;
      color: #004ed1;
      margin-top: 1rem;
      span {
        color: #000;
      }
    }
    .desc {
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-align: center;
      color: #333;
      margin-top: 2.3rem;
      span {
        display: flex;
        justify-content: center;
      }
    }

    .btnNow {
      margin-top: 3.2rem;
    }

    .imgbox {
      display: flex;
      margin-top: 4.6rem;
      &.abroad {
        width: 32.7rem;
        height: 20.5rem;
        background: url(./img/abroad.png) no-repeat;
        background-size: contain;
      }
      &.template {
        width: 37.5rem;
        height: 20rem;
        background: url(./img/template.png) no-repeat;
        background-size: 37.5rem 20rem;
      }
    }
  }
}
