@media screen and (max-width: 770px) {
  $opacity: 0;
  $transition: 0.6s;
  $scale: 0.5;

  @keyframes shadow {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }

    100% {
      box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
    }
  }

  @keyframes shadowHide {
    0% {
      box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
  }

  .landingStep {
    margin: 6.6rem 1.8rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    background-color: #fff;
    padding: 3rem 2rem;
    max-width: 100vw;
    height: 93rem;

    .topBox {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      word-break: keep-all;

      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 3rem;
        color: #004ed1;
      }

      .desc {
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 3rem;
        color: #333;
      }

      .text {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #555;
        margin-top: 1rem;

        span {
          display: block;
        }
      }
    }
  }

  .bannerBox {
    padding-top: 13.8rem;
    position: relative;

    .banner {
      width: 100%;
      position: relative;
      height: 53.8rem;

      .firstPurchase {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 2.8rem;
        font-size: 2rem;
        font-weight: 400;
        color: #004ed1;
      }

      .againPurchase {
        position: absolute;
        left: 0;
        top: 42.4rem;
        color: #fe8953;
        line-height: 2.8rem;
        font-size: 2rem;
        font-weight: 400;
      }

      .step1,
      .step2,
      .step3,
      .step4,
      .step5,
      .step6,
      .step7 {
        position: absolute;
        width: 4.4rem;
        height: 4.4rem;
        display: flex;

        &::after {
          content: '01';
          position: absolute;
          font-style: normal;
          font-weight: 600;
          font-family: WenYue XinQingNianTi (Authorization Required);
          font-size: 3.2rem;
          line-height: 4.4rem;
          color: #d9e5ff;
          z-index: 3;
          right: -4rem;
          top: 0;
          opacity: $opacity;
          transform: scale($scale);
        }

        &::before {
          content: '';
          position: absolute;
          bottom: -1rem;
          left: 0;
          width: 11rem;
          height: 1px;
          background: #e5e5e5;
          z-index: 10;
          opacity: $opacity;
          transform: scale($scale);
        }

        .bg {
          transform: scale($scale);
        }

        &.active {
          .bg,
          .stepBox,
          &::before,
          &::after {
            opacity: 1;
            transition: $transition;
            transform: scale(1);
          }

          &:hover {
            .bg,
            &::before,
            &::after {
              opacity: 1;
              transition: $transition;
              transform: scale(1);
            }
          }
        }

        &.executeOne {
          .bg,
          .stepBox,
          &::before,
          &::after {
            opacity: 1;
            transition: $transition;
            transform: scale(1);
          }
          // &::after {
          //   opacity: 0.4;
          //   transition: $transition;
          //   transform: scale(1);
          // }
        }

        .bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: $opacity;
        }
      }

      .step1 {
        left: 0;
        top: 4.2rem;
        .bg {
          background: url(./imgPc/step01.svg) no-repeat;
          background-size: contain;
        }
      }

      .step2 {
        right: 10rem;
        top: 4.2rem;
        .bg {
          background: url(./imgPc/step02.svg) no-repeat;
          background-size: contain;
        }
        &::after {
          content: '02';
          right: -4.8rem;
        }
      }

      .step3 {
        left: 0;
        top: 19rem;
        .bg {
          background: url(./imgPc/step03.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '03';
          right: -4.8rem;
        }
      }

      .step4 {
        right: 10rem;
        top: 19rem;
        .bg {
          background: url(./imgPc/step04.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '04';
          right: -4.8rem;
        }
      }

      .step5 {
        left: 0;
        top: 46.4rem;
        .bg {
          background: url(./imgPc/step05.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '05';
          right: -4.8rem;
          color: #ffd8c4;
        }
      }

      .step6 {
        top: 46.4rem;
        right: 10rem;
        .bg {
          background: url(./imgPc/step06.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '06';
          right: -4.8rem;
          color: #ffd8c4;
        }
      }

      .step7 {
        left: 0;
        top: 61.3rem;

        .bg {
          background: url(./imgPc/step07.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '07';
          right: -4.8rem;
          color: #ffd8c4;
        }

        .stepBox {
          width: 16rem;
        }
      }

      .stepBox {
        background: #fff;
        padding: 1rem;
        width: 14rem;
        position: absolute;
        z-index: 1;
        top: 5rem;
        left: -1rem;
        opacity: $opacity;
        transform: scale($scale);

        .stepTitle {
          font-style: normal;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.2rem;
          color: #26263d;
          margin-bottom: 0.6rem;
        }
        .stepDesc {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: #444;
        }
      }
    }

    .center {
      position: absolute;
      left: 0;
      top: 34.2rem;
      font-size: 1.4rem;
      color: #263577;
      display: flex;
      border-radius: 0.6rem;
      background-color: #f9fbff;
      height: 5.6rem;
      width: 100%;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1;

        &::after {
          content: '';
          position: absolute;
          top: -0.8rem;
          left: 0;
          width: 1px;
          height: 3.2rem;
          background-color: #dae0fc;
        }
      }

      .save::after {
        width: 0;
      }
    }

    .arrow {
      transform: scale(0);
    }
  }
}
