@media screen and (min-width: 770px) {
  $opacity: 0;
  $transition: 0.6s;
  $scale: 0.5;

  @keyframes shadow {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }

    100% {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
  }

  @keyframes shadowHide {
    0% {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
  }

  .landingStep {
    margin: 12rem 0;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    background-color: #fff;
    padding: 7rem;
    max-width: 128rem;

    .topBox {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;

      .company {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.8rem;
        color: #222;
        span {
          color: #004ed1;
        }
      }

      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 5.2rem;
        line-height: 7.2rem;
        color: #004ed1;
      }

      .desc {
        font-style: normal;
        font-weight: 600;
        font-size: 5.2rem;
        line-height: 7.2rem;
        color: #333;
      }

      .text {
        font-size: 2.6rem;
        line-height: 2.6rem;
        color: #555;
        margin-top: 1.6rem;
      }
    }
  }

  .bannerBox {
    padding-top: 25.8rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      min-width: 114rem;
      width: 100vw;
      // background: #fafbff;
      position: absolute;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    .banner {
      width: 114rem;
      position: relative;
      height: 53.8rem;

      .firstPurchase {
        position: absolute;
        left: 0;
        top: 5.3rem;
        line-height: 4.2rem;
        font-size: 3rem;
        font-weight: 500;
        color: #004ed1;
      }

      .againPurchase {
        position: absolute;
        right: 5.3rem;
        top: 42rem;
        color: #ff793a;
        line-height: 4.2rem;
        font-size: 3rem;
        font-weight: 500;
        opacity: $opacity;
        transform: scale($scale);

        &.active,
        &.executeOne {
          opacity: 1;
          transition: $transition;
          transform: scale(1);
        }
      }

      .step1,
      .step2,
      .step3,
      .step4,
      .step5,
      .step6,
      .step7 {
        position: absolute;
        width: 5.6rem;
        height: 5.6rem;
        display: flex;

        &::after {
          content: '01';
          position: absolute;
          font-style: normal;
          font-weight: 600;
          font-family: WenYue XinQingNianTi (Authorization Required);
          font-size: 4rem;
          line-height: 5.3rem;
          color: #d9e5ff;
          z-index: 3;
          right: -4.8rem;
          top: 0;
          opacity: $opacity;
          transform: scale($scale);
        }

        &::before {
          content: '';
          position: absolute;
          bottom: -2rem;
          left: 0;
          width: 11rem;
          height: 1px;
          background: #e5e5e5;
          z-index: 10;
          opacity: $opacity;
          transform: scale($scale);
        }

        .bg {
          transform: scale($scale);
        }

        &.active {
          .bg,
          .stepBox,
          &::before,
          &::after {
            opacity: 1;
            transition: $transition;
            transform: scale(1);
          }

          &:hover {
            .bg,
            &::before,
            &::after {
              opacity: 1;
              transition: $transition;
              transform: scale(1);
            }
          }
        }

        &.executeOne {
          .bg,
          .stepBox,
          &::before,
          &::after {
            opacity: 1;
            transition: $transition;
            transform: scale(1);
          }
          // &::after {
          //   opacity: 0.4;
          //   transition: $transition;
          //   transform: scale(1);
          // }
        }

        .bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: $opacity;
        }
      }

      .step1 {
        left: 19rem;
        top: 0;
        .bg {
          background: url(./imgPc/step01.svg) no-repeat;
          background-size: contain;
        }
      }

      .step2 {
        left: 45rem;
        top: 0;
        .bg {
          background: url(./imgPc/step02.svg) no-repeat;
          background-size: contain;
        }
        &::after {
          content: '02';
          right: -5.6rem;
        }
      }

      .step3 {
        left: 72rem;
        top: 0;
        .bg {
          background: url(./imgPc/step03.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '03';
          right: -5.6rem;
        }
      }

      .step4 {
        left: 99rem;
        top: 0;
        .bg {
          background: url(./imgPc/step04.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '04';
          right: -5.6rem;
        }
      }

      .step5 {
        left: 70rem;
        top: 37rem;
        .bg {
          background: url(./imgPc/step05.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '05';
          right: -5.6rem;
          color: #ffd8c4;
        }
      }

      .step6 {
        left: 45.4rem;
        top: 37rem;
        .bg {
          background: url(./imgPc/step06.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '06';
          right: -5.6rem;
          color: #ffd8c4;
        }
      }

      .step7 {
        left: 13.6rem;
        top: 37rem;

        .bg {
          background: url(./imgPc/step07.svg) no-repeat;
          background-size: contain;
        }

        &::after {
          content: '07';
          right: -5.6rem;
          color: #ffd8c4;
        }
      }

      .stepBox {
        // background: #fff;
        padding: 1.6rem;
        width: 22rem;
        position: absolute;
        z-index: 1;
        top: 7.2rem;
        left: -1.6rem;
        opacity: $opacity;
        transform: scale($scale);

        .stepTitle {
          font-style: normal;
          font-weight: 600;
          font-size: 2.2rem;
          line-height: 3.1rem;
          color: #26263d;
          margin-bottom: 1rem;
        }
        .stepDesc {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 2rem;
          color: #444;
        }
      }
    }

    .center {
      position: absolute;
      left: 13.6rem;
      top: 20.6rem;
      font-style: normal;
      font-size: 2rem;
      line-height: 2rem;
      color: #263577;
      text-align: center;
      display: flex;
      border-radius: 1.2rem;
      padding: 5.3rem 8.8rem;
      background-color: #f9fbff;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: -3.2rem;
          left: 0;
          width: 1px;
          height: 8.6rem;
          background-color: #dae0fc;
        }
      }

      .save {
        padding-right: 10rem;
      }

      .data {
        padding: 0 10rem;
      }

      .country {
        padding-left: 10rem;
      }

      .save::after {
        width: 0;
      }
    }

    .arrow {
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      z-index: 10;
      transition: $transition;
      transform: scale(0);

      &.active {
        transition: $transition;
        transform: scale(1);
      }

      &.executeOne {
        transition: $transition;
        transform: scale(1);
      }
    }

    .arrow1 {
      background-image: url(./imgPc/arrowRight.svg);
      width: 4rem;
      height: 1.5rem;
      top: 6.8rem;
      left: 10.5rem;
    }

    .arrow2 {
      background-image: url(./imgPc/arrowRight.svg);
      width: 4rem;
      height: 1.5rem;
      top: 6.8rem;
      left: 36rem;
    }

    .arrow3 {
      background-image: url(./imgPc/arrowRight.svg);
      width: 4rem;
      height: 1.5rem;
      top: 6.8rem;
      left: 63.4rem;
    }

    .arrow4 {
      background-image: url(./imgPc/arrowRight.svg);
      width: 4rem;
      height: 1.5rem;
      top: 6.8rem;
      left: 90rem;
    }

    .arrow5 {
      background-image: url(./imgPc/arrowBottom.svg);
      height: 4rem;
      width: 1.5rem;
      top: 24.6rem;
      right: 7.8rem;
    }

    .arrow6,
    .arrow7,
    .arrow8,
    .arrow9 {
      background-image: url(./imgPc/arrowLeft.svg);
      width: 4rem;
      height: 1.5rem;
      top: 43.8rem;
      right: 20rem;
    }

    .arrow7 {
      left: 61.3rem;
      right: 0;
    }

    .arrow8 {
      left: 36.2rem;
      right: 0;
    }

    .arrow9 {
      left: 3rem;
      right: 0;
    }
  }

  .arrow10 {
    background-image: url(./imgPc/arrowTop.svg);
    height: 4rem;
    width: 1.5rem;
    top: 43.8rem;
    left: 2.3rem;
    top: 24.6rem;
  }
}
